#logoc {
    display: block;
    width: 10%;
}
.nav-link {
    font-family: 'Roboto', sans-serif;
    color:  white !important;
    text-align: right;
}
#foto {
   width: 100% !important;
   
    
}

#naomi {
    width: 55%;
    padding: 3px;
    
}
#thai {
    padding: 3px;
    border-color: rgb(20, 20, 19);
    border-width: 1px;
    border-style: solid;  
}
.oscuro {
   
    background-color:black;
    
}