#navbarNav {
    font-size: xx-large;
    color: white;
}


 p {
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    font-size: 70px;
    top: 200px;
    left: 600px;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    color: white;
    
}    
p1 {
    position: absolute;
    font-family: 'Abril Fatface', cursive;
    font-size: 70px;
    top: 300px;
    left: 600px;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    color: white;
   
}
.centrar {
    display: inline-block;
}

#thai {
    font-family: 'Abril Fatface', cursive;
}
    

